<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .title }}</title>
</head>
<body>
    <h1>Hello World!</h1>
    <div>
        {{range .todos}}
        <ul>
            <li>{{.Id}}</li>
            <li>{{.Title}}</li>
            <li>{{.Contents}}</li>
            <li>{{.Due}}</li>
        </ul>
        {{end}}
    </div>
    <div>
        <form action="/" method="POST">
            <div>
                title: <input type="text" name="title" id="title">
            </div>
            <div>
                contents: <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">登録</button>
        </form>
    </div>
</body>
</html>